# Binaries for programs and plugins
logspout
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Config file for test only, may be broken
test.json

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
_vendor*

# IDEA stuff
.idea/

# Misc
version_init.go
